@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Global */
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body
{
    background: rgba(0, 0, 0, 0.863);
}

/* home */
section
{
    justify-content: center;
    padding: 100px;
    display: flex;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}


section .content h2
{
    color:  rgb(204, 0, 0);
    font-size: 3em;
    font-weight: 700;
    line-height: 1.1em;
}

section .content p 
{
    color: #fff;
    font-size: 1.1em;
    margin: 20px 0 10px;
}


.copyrightText
{
    position: absolute;
    bottom: 20px;
    color: #fff;
    font-size: 1.1em;
    margin: 20px 0 10px;
}




/* Responsive */
@media (max-width: 767px)
{
    section
    {
        padding: 100px 40px;
    }

    section .content h2
    {
        font-size: 2.5em;
    }
}